<header>
  <div class="header_bar">
    <h3>Reddit News</h3>

    <!-- Images (and assets) are parsed and loaded from within the public directory-->
    <a target="_blank" href="https://www.reddit.com/">
      <img class="header_bar__logo" src="/img/reddit-icon-background.png" />
    </a>
  </div>
</header>
<main>
  <router-outlet></router-outlet>

  <svg  class="c-btn c-btn--brand opacity_transition icon icon-circle-up"
        id="scroll_top_btn"
        [scrollTop]="130">
    <use [attr.xlink:href]="globals.BASE_SVG_URL+'#icon-circle-up'"></use>
  </svg>
</main>
<footer>
</footer>
