// styles in src/style directory are applied to the whole page
@import "variables";

@import "../style/variables";

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.spinner{
  animation: anim-rotate 2s infinite linear;
  &--steps {
    animation: anim-rotate 1s infinite steps(8);
  }
  &--steps2 {
    animation: anim-rotate 1s infinite steps(12);
  }
}


@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Base

/* WebKit/Blink Browsers */
::selection {
  background: $reddit-color;
  color: white;
}

/* Gecko Browsers */
::-moz-selection {
  background: $reddit-color;
  color: white;
}

html {
  font-family: Helvetica, Verdana, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;

  h3 {
    font-weight: bold;
    font-size: 20px/1.5;
  }
}

body {
  background: white;
  color: orangered;
}

a {
  color: $reddit-color;
  text-decoration: none;
}

// Helpers
.u-container {
  max-width: 800px;
  margin: auto;
}

.u-font-main-color {
  color: $reddit-color;
}

.u-center_block {
  margin: auto;
}

/**
*text-align dynamic
*/
$aligns: left center right;

@each $align in $aligns {
  .u-text_#{$align} {
    text-align: $align;
  }
}

// Animations //
.opacity_transition {
  transition: opacity 2s ease;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

// Components //

// button element
.c-btn{
  background-color: #d3d3d3;
  border: none;

  border-radius: .4em;
  box-sizing: border-box;

  color: #fff;
  cursor: pointer;
  font-size: .85em;
  font-weight: 700;
  padding: .6em .8em .8em;
  text-decoration: none;

  user-select: none;
  transition: .2s;

  vertical-align: middle;

  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.3);

  white-space: nowrap;

  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;



  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  outline: none;

  &:active{
    transform: scale(.9);
  }

  &--brand {
    background-color: $reddit-color;
  }

  &--brand_secondary {
    background-color: white;
    border: 1px solid #2cb1e9;
    color: #2cb1e9;
  }

  &--medium, &--md{
    font-size: 1.1em;
  }

  &--big, &--bg {
    font-size: 1.3em;
  }
}
