<div *ngIf="!selectedPost"
     class='u-container posts animated'
     [ngClass]="{fadeIn: !selectedPost, fadeOut: selectedPost}"

     infinite-scroll
     [infiniteScrollDisabled]="loading"
     [infiniteScrollThrottle]="500"
     [infiniteScrollDistance]="0"
     (scrolled)="onScrollBottom()"
     [scrollWindow]="true">


  <!-- MAIN TITLE  -->
  <h2  class="u-text_center posts__title">
    <svg (click)="refreshPosts()" class="u-text_center icon icon-loop">
      <use [attr.xlink:href]="svgBaseUrl+'#icon-loop'"></use>
    </svg>
    Home
  </h2>

  <code class="u-text_right posts__badge"
        *ngIf="posts">
    Listed {{ posts.length }} posts
  </code>


  <!--LIST OF LATEST POSTS-->
  <ul *ngIf="posts" class="posts__list">
    <li class="posts__list__item"
        *ngFor="let post of posts;trackBy:post?.id"
        [attr.id]="'post_' + post.id"
        [ngClass] = {show_details:post.showDetailBtn}

        (click)= 'openDetailsBox(post, true)'
        (mouseenter) = 'openDetailsBox(post, true)'
        (mouseleave) = 'openDetailsBox(post, false)'>

      <div class="posts__list__item__info">
        <p class="posts__list__item__info__title"> {{ post.title }}</p>
        <p class="posts__list__item__info__author">
          Created by:
          <span class="posts__list__item__info__author__username">
          <a target="_blank"
             [href]="'https://www.reddit.com/user/'+post.author">
            {{ post.author }}
          </a>
        </span>
        </p>
      </div>

      <div (click)="getPostDetails(post)" class="posts__list__item__detail">
        <span class="posts__list__item__detail__action" >Details</span>
      </div>
    </li>
  </ul>

  <!-- Template information sections -->
  <span *ngIf="loading" class="u-center_block">
    {{ loadingMsg }}
    <svg class="u-text_center icon icon-spinner spinner spinner--steps2">
      <use [attr.xlink:href]="svgBaseUrl+'#icon-spinner'"></use>
    </svg>
  </span>

  <code *ngIf="errorPosts && !loading">
    Error getting latest reddit posts, try it again later please :)
  </code>
</div>

<!--  Show details on selected post clling the myRedditPostDetails component when a selectedPost exits -->
<my-reddit-post-details *ngIf="selectedPost"
                         (onRemoveSelected)="cleanPostSelected($event)"
                         [currentPost]="selectedPost">

</my-reddit-post-details>
