@import '../../style/variables';

:host{}


.posts {
  padding: 0 10px;
  display: flex;
  flex-direction: column;

  animation-duration: .5s;

  &__title{
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      margin-right: 10px;
      cursor: pointer;
      opacity: 1;

      &:active, &:hover {
        opacity: .6;
      }
    }
  }

  &__badge {
    display: flex;
    justify-content: flex-end;

    font-size: 12px;

    color: $main_font_color;

  }

  &__list {
    list-style-type: none;
    width: 100%;
    color: $main_font_color;
    padding: 0;
    margin: -8px 0;


    &:hover {
      &__item{
        background: rgba($reddit-color, 0.1);
        color: rgba($main_font_color, 1);
      }
    }

    &__item{
      padding: 2px;
      margin: 20px 0;
      border: 1px dashed rgba($reddit-color, 0.19);
      position: relative;
      overflow: hidden;
      touch-action: auto;

      &__info {
        transition: margin 500ms ease;
        -webkit-transition: margin 500ms ease;
        -moz-transition: margin 500ms ease;
        -o-transition: margin 500ms ease;

        padding: 10px;
        border-radius: 0 10px 10px 0;

        min-height: 40px;

        &__title {
          float: left;
          margin: 0 15px 0 0;
          color: $main_font_color;

          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;

        }

        &__author {
          font: 200 12px/1.5 Georgia, Times New Roman, serif;
          position: absolute;
          bottom: -10px;
          right: 10px;

          &__username {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      &__detail{

        transition: left 500ms ease;
        -webkit-transition: left 500ms ease;
        -moz-transition: left 500ms ease;
        -o-transition: left 500ms ease;



        background-color: $reddit-color;

        height: 100%;
        width: 100px;

        position: absolute;
        top: 0;
        left: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.5);

        cursor: pointer;

        &:hover {
          opacity: .85;
        }

        &__action {
          color: white;
        }
      }


      // Interactions
      &.show_details {
        .posts__list__item__info{
          margin-left: 100px;
        }

        .posts__list__item__detail{
          left: 0;
        }
      }
    }
  }
}
