<div class='u-container post_details animated'
     *ngIf="currentPost"
     [ngClass]="{slideInDown: currentPost, slideOutUp: hideDetails}">

  <!-- TITLE -->
  <h2 class="u-text_center post_details__title">
    Details
  </h2>

  <hr>

  <!-- DETAILS VIEW -->
  <section class="post_details__elements">
    <div class="post_details__elements__title">
      <p class="u-text_center">{{ currentPost.title }}</p>

      <div class="u-center_block post_details__elements__title__meta">
        <small class="post_details__elements__title__meta__item">
          <svg class="u-font-main-color icon icon-thumb_up">
            <use [attr.xlink:href]="globals.BASE_SVG_URL+'#icon-thumb_up'"></use>
          </svg>
          {{ currentPost.ups }}
        </small>

        <small class="post_details__elements__title__meta__item">
          <svg class="u-font-main-color icon icon-thumb_down">
            <use [attr.xlink:href]="globals.BASE_SVG_URL+'#icon-thumb_down'"></use>
          </svg>
          {{ currentPost.downs }}
        </small>

        <small class="post_details__elements__title__meta__item">
          <svg class="u-font-main-color icon icon-bubbles4">
            <use [attr.xlink:href]="globals.BASE_SVG_URL+'#icon-bubbles4'"></use>
          </svg>
          {{ currentPost.num_comments }}
        </small>

        <small class="post_details__elements__title__meta__item">
          <svg class="u-font-main-color icon icon-award">
            <use [attr.xlink:href]="globals.BASE_SVG_URL+'#icon-award'"></use>
          </svg>
          {{ currentPost.score }}
        </small>
      </div>
    </div>
    <ul class="post_details__elements__list">
      <!-- ID -->
      <li class="post_details__elements__list__item">
        <strong class="u-font-main-color">id:</strong>
        {{ currentPost.id }}
      </li>


      <!-- AUTHOR -->
      <li class="post_details__elements__list__item">
        <strong class="u-font-main-color">Author:</strong>
        {{ currentPost.author }}
      </li>


      <!-- DATE CREATED  -->
      <li class="post_details__elements__list__item">
        <strong class="u-font-main-color">Created:</strong>
        <!--
          As AngularJS doesn't convert Unix timestamp to Date, but a number with milliseconds, which is 1000 times
          larger, so first it is necessary multiply the created date by 1000 to get the correct current Date
        -->
        {{ currentPost.created * 1000 | date:'medium' }}
      </li>


      <!-- REDDIT URL -->
      <li class="post_details__elements__list__item">
        <strong class="u-font-main-color">
          Reddit post:
        </strong>
        <a target="_blank"
           [href]="'https://www.reddit.com' + currentPost.permalink">https://www.reddit.com{{ currentPost.permalink }}
        </a>
      </li>

      <!-- ORIGINAL URL -->
      <li class="post_details__elements__list__item">
        <strong class="u-font-main-color">
          Original post:
        </strong>
        <a target="_blank"
           [href]="currentPost.url">{{ currentPost.url }}
        </a>
      </li>
    </ul>
  </section>


  <!-- BACK TO POSTS LIST BUTTON  -->
  <button class="c-btn c-btn--brand c-btn--md" (click)="goBack()">Back</button>
</div>

